{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Flo/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}
<body class="page">

<div class="parallax-container">
    <div class="parallax"><img src="images/img00010.jpg"></div>
</div>

<div class="section white">

    <div class="row">
        <h1>Cours Ados/Adultes</h1>
        <div class="col s12 offset-l1 l5 m6">
            <div class="horaires">
                <p class="center">Saison 2016-2017</p>
                <p class="center">Des frais d’inscriptions de 20 euros sont à ajouter aux tarifs</p>
                <p class="hbold">cours hebdomadaires (de 101 à 119 euros par trimestre)</p>
                <ul class="listecours">
                    <li class="listecours">mercredi 19h30-22h</li>
                    <li class="listecours">jeudi 14h-16h30</li>
                </ul>
                <p class="hbold">cours mensuels (de 101 à 119 euros l’année)</p>
                <ul class="listecours">
                    <li class="listecours">un jeudi par mois (autour du 15 de chaque mois)</li>
                    <li class="listecours">arts plastiques : 10h-12h30</li>
                </ul>
            </div>
        </div>
        <div class="col s12 l6 m6 center">
            <a href="#galets"><img class="activator" src="http://www.florence-pelisson.fr/wp-content/gallery/cours-adultes/img_0183.jpg"></a>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="images/img00010.jpg"></div>
</div>

<div class="white">
    <div class="row">
        <h1>Cours Ados/Adultes</h1>
        <div class="col s12 l3 offset-l3 m6 center">
            <div class="horaires">
                <p>Saison 2016-2017 : des frais d’inscriptions de 20 euros sont à ajouter aux tarifs</p>

                <p>cours hebdomadaires (100/119 euros par trimestre)</p>

                <p>mercredi 19h30-22h</p>

                <p>jeudi 14h-16h30</p>

                <p>cours mensuels (100/119 euros l’année)</p>

                <p>un jeudi par mois (autour du 15 de chaque mois)</p>

                <p>arts plastiques : 10h-12h30</p>

                <p>dessin d’observation : 19h30-22h</p>
            </div>
        </div>
        <div class="col s12 l3 m6 center">
            <a href="#galets"><img class="activator" src="http://www.florence-pelisson.fr/wp-content/gallery/cours-adultes/img_0183.jpg"></a>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="images/img00010.jpg"></div>
</div>

<div class="white">
    <div class="row">
        <h1>Cours Ados/Adultes</h1>
        <div class="col s12 l3 offset-l3 m6 center">
            <div class="horaires">
                <p>Saison 2016-2017 : des frais d’inscriptions de 20 euros sont à ajouter aux tarifs</p>

                <p>cours hebdomadaires (100/119 euros par trimestre)</p>

                <p>mercredi 19h30-22h</p>

                <p>jeudi 14h-16h30</p>

                <p>cours mensuels (100/119 euros l’année)</p>

                <p>un jeudi par mois (autour du 15 de chaque mois)</p>

                <p>arts plastiques : 10h-12h30</p>

                <p>dessin d’observation : 19h30-22h</p>
            </div>
        </div>
        <div class="col s12 l3 m6 center">
            <a href="#galets"><img class="activator" src="http://www.florence-pelisson.fr/wp-content/gallery/cours-adultes/img_0183.jpg"></a>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax"><img src="images/img00010.jpg"></div>
</div>

{% endblock %}