{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Flo/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <body class="page">
        <div class="container error center">
            <h1>Le site est en travaux...<br/>
            <i class="material-icons errorfont">format_paint</i></h1>
        </div>

<!-- /container -->

{% endblock %}