{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Flo/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

    <body class="page">
    <div class="container error center">
        <h1>Désolé cette page n'existe pas...</h1>
    </div>

    <!-- /container -->

{% endblock %}