#admin {
  padding: 10px;
  background: url('../images/pattern.png') #BEBAB9;
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  background-size: 10px 10px, cover;
  min-height: calc(100vh - 90px);

  .admin_index {
    padding-top: 20%;
  }

  .thumbnail {
    height: 150px;
  }

  .boutons {
    margin-top: 5px;
  }

  .modeles_wrapper {
    height:100vh;
  }
}


.navbar_admin {
  margin-bottom: 0;
  li {
    a{
      color: #3C3F41 !important;
    }
  }
}


