.contact {
		margin-top: 50px;
		padding: 15px;
		background: RGBA(250, 250, 250, 0.3);
    border-radius: 15px;
}

.btn {
		background-color: #424242;
		margin-bottom: 15px;
}

.btn:hover {
		background-color: #737270;
}

.iconame {
	display: none;
}

input[type=text]:focus {
		color: #FFF;
}

.input-field .prefix {
	color: white;
	margin-top: 10px;
}

/* label color */
.input-field label, label, input[type=text], input[type=email], textarea {
	 color: #FFF;
	 font-size: 20px;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #737270;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	 border-bottom: 1px solid #737270;
	 box-shadow: 0 1px 0 0 #737270;
}
/* valid color */
.input-field input[type=text].valid {
	 color: #737270;
	 border-bottom: 1px solid #FFF;
	 box-shadow: 0 1px 0 0 #FFF;
}
/* invalid color */
.input-field input[type=text].invalid {
	 border-bottom: 1px solid #000;
	 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #737270;
}

/* label focus color */
.input-field input[type=email]:focus + label {
	color: #737270;
}


/* label underline focus color */
.input-field input[type=email]:focus {
	 border-bottom: 1px solid #737270;
	 box-shadow: 0 1px 0 0 #737270;
}
/* valid color */
.input-field input[type=email].valid {
	 color: #737270;
	 border-bottom: 1px solid #FFF;
	 box-shadow: 0 1px 0 0 #FFF;
}

.input-field textarea[class=materialize-textarea] +label {
	color: #FFF;
}

.input-field textarea[class=materialize-textarea]:focus +label {
	color: #737270;
}

.input-field textarea[class=materialize-textarea]:focus {
	border-bottom: 1px solid #737270;
	box-shadow: 0 1px 0 0 #737270;
}

.confirm {
	margin-top: 15%;
	background: RGBA(238, 238, 239, 0.3);
	border-radius: 15px;
	padding-bottom: 30px !important;
}

.btnconfirm {
	margin-top: 5%;
}

.btn-large {
	border-radius: 15px;
}