// COURS

.cours {
	margin-bottom: 50px;
	margin-top: 50px;
}

.white {
	padding: 15px;
	background: RGBA(250, 250, 250, 0.3) !important;
	border-radius: 15px;
}

.parallax img {
	display: block;
}

.parallax-container {
	height: 300px;
}

.imgcours {
	width: 100%;
	max-width: 450px;
	border-radius: 15px;
}

.horaires {
	color: grey;
	font-size: 20px;
}

.hbold {
	font-weight: bold;
}

ul.listecours {
	padding-left: 50px !important;
}

ul li.listecours {
	list-style: circle !important;
	list-style-position: outside;
}
