.button_galerie {
  border: 3px solid #FFF;
  border-radius: 5px;
  font-family: inherit;
  color: #FFF;
  background: none;
  cursor: pointer;
  padding: 5px 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 0.5em;
}

.button_galerie:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}


.button_galerie:hover,
.button_galerie:active,
.button_galerie:focus {
  color: #ffffff;
  background: #3C3F41;
  border-color: #3C3F41;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group {
  border-radius: 0.5em;
  margin-bottom: 15px;
  border-color: transparent;
}

.infos_cours {
  color: #5F5E5F;
  text-align: justify;
}

