.footer {
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: RGBA(255, 255, 255, 0.7);
}

.navbar-bottom {
	background-color: transparent;
}

.footer a {
	color: #999CA4;
}

.footer a:hover {
 	color: #3C3F41;
}