body, html {
	padding:0px;
	margin:0px;
	height: 100vh;
	min-height: 100%;
}

body {
	background-color: transparent;
}

.page {
	background: url('../images/pattern.png') #BEBAB9;
	background-repeat: repeat, no-repeat;
    background-position: 0 0;
    background-size: 10px 10px, cover;
}

.about {
	font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #47a3da;
}

h1, h2{
	font-size: 50px;
	padding-left: 15px;
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

h1 {
	text-align: center;
}

h1:hover, h2:hover {
	text-shadow: 0px 0px 1px #424242;
}

h2 {
	margin-top: 50px;
	text-align: center;
}

a:hover {
	text-decoration: none;
}

//ERROR PAGE

.error {
	margin-top: 20%;
	padding-left: 15px;
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0px 0px 5px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.errorfont {
	margin-top: 10px;
	font-size: 100px;
}
