.navbar_flo {
	background-color: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
	padding-left: 15px;
	color: transparent;
	display: block;
	text-transform: uppercase;
	text-shadow: 0 0 2px #fff;
	letter-spacing: 1px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.item:hover {
	text-shadow: 0px 0px 1px #424242;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a  {
	color: transparent;
	text-shadow: 0 0 2px #3C3F41;
	background-color: transparent;
}

.navbar-default .navbar-nav>.active>a:hover {
	background-color: transparent;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}