{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

    <div id="admin">
        <div class="container">
            <h1>A propos - Création</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}

            <div class="boutons text-center">
                <button class="btn btn-default" type="submit" title="Valider">Valider</button>
                <a class="btn btn-default" href="{{ path('about_index') }}">Annuler</a>
            </div>


            {{ form_end(form) }}
        </div>

    </div>

    {% include '@Flo/Default/footer.html.twig' %}

{% endblock %}
