{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Flo/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

<body class="page about">
    <div class="container">
        <div class="timeline">
        <ul class="cbp_tmtimeline">
            {% for about in abouts %}
                <li>
                    <time class="cbp_tmtime"><span>{{ about.date }}</span></time>
                    <div class="cbp_tmicon cbp_tmicon-phone"></div>
                    <div class="cbp_tmlabel">
                        <p>{{ about.contenu|raw }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
            </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script src="{{ asset('bundles/flo/js/flo.js') }}"></script>
{% endblock %}