{% extends 'base.html.twig' %}

{% block header %}
    {% include '@Flo/Default/navbar.html.twig' %}
{% endblock %}

{% block body %}

<body class="page">
    <div class="container">
        <h2>Contact</h2>

        <div class="row contact">

            <form class="col s12 formvalidate" id="formvalidate" action="{{ path('send_mail') }}" method="post">

                <div class="row">

                    <div class="input-field col s6">
                        <input name="prenom" id="first_name" type="text" class="validate" required="" aria-required="true">
                        <label for="first_name">Prénom</label>
                    </div>

                    <div class="input-field col s6">
                        <input name="nom" id="last_name" type="text" class="validate" required="" aria-required="true">
                        <label for="last_name">Nom</label>
                    </div>

                </div>

                <div class="row">

                    <div class="input-field col s12">
                        <input name="email" id="email" type="email" class="validate" required="" aria-required="true">
                        <label for="email" data-error="Cet email n'est pas valide">Email</label>

                    </div>

                </div>

                <div class="row">

                    <div class="input-field col s12">
                        <textarea name="msg" id="textarea" class="materialize-textarea" required="" aria-required="true"></textarea>
                        <label for="textarea">Votre message</label>

                    </div>

                </div>

                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer
                        <i class="material-icons right">send</i>
                    </button>
                </div>

            </form>

        </div>

    </div>


{% endblock %}