@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 1, ../sass/_general.scss */
html {
  height: 100%;
}

/* line 5, ../sass/_general.scss */
body {
  min-height: 100%;
}

/* line 9, ../sass/_general.scss */
body, html {
  padding: 0;
  margin: 0;
}

/* line 16, ../sass/_general.scss */
body {
  background: url("../images/pattern.png") #BEBAB9;
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  background-size: 10px 10px, cover;
  min-height: 100vh;
}

/* line 32, ../sass/_general.scss */
h1, h2 {
  font-size: 5vw;
  padding-left: 15px;
  color: transparent;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 47, ../sass/_general.scss */
h1 {
  text-align: center;
}

/* line 51, ../sass/_general.scss */
h1:hover, h2:hover {
  text-shadow: 0px 0px 1px #424242;
}

/* line 55, ../sass/_general.scss */
h2 {
  margin-top: 50px;
  text-align: center;
}

/* line 60, ../sass/_general.scss */
a:hover {
  text-decoration: none;
}

/* line 66, ../sass/_general.scss */
.error {
  margin-top: 20%;
  padding-left: 15px;
  color: transparent;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 81, ../sass/_general.scss */
.errorfont {
  margin-top: 10px;
  font-size: 100px;
}

/* line 1, ../sass/_navbar.scss */
.navbar_flo {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 3em;
}

/* line 7, ../sass/_navbar.scss */
.navbar-nav {
  width: 100%;
  text-align: center;
}
/* line 10, ../sass/_navbar.scss */
.navbar-nav > li {
  float: none;
  display: inline-block;
}

/* line 16, ../sass/_navbar.scss */
.navbar-default .navbar-nav > li > a {
  padding-left: 15px;
  color: transparent;
  display: block;
  text-transform: uppercase;
  text-shadow: 0 0 2px #fff;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 30, ../sass/_navbar.scss */
.navbar-default .navbar-nav > li > a:hover {
  color: #FFF;
  background-color: transparent;
}

/* line 35, ../sass/_navbar.scss */
.item:hover {
  text-shadow: 0px 0px 1px #424242;
  background-color: transparent;
}

/* line 40, ../sass/_navbar.scss */
.navbar-default .navbar-nav > .active > a {
  color: transparent;
  text-shadow: 0 0 2px #3C3F41;
  background-color: transparent;
}

/* line 46, ../sass/_navbar.scss */
.navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
}

/* line 51, ../sass/_navbar.scss */
.home .navbar-default .navbar-nav > li > a {
  padding-left: 15px;
  color: transparent;
  display: block;
  text-transform: uppercase;
  text-shadow: 0 0 2px #fff;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 65, ../sass/_navbar.scss */
.home .item:hover {
  text-shadow: 0px 0px 1px #424242;
  background-color: transparent;
}
/* line 70, ../sass/_navbar.scss */
.home .navbar-default .navbar-nav > .active > a {
  color: transparent;
  text-shadow: 0 0 2px #3C3F41;
  background-color: transparent;
}
/* line 76, ../sass/_navbar.scss */
.home .navbar-default .navbar-nav > .active > a:hover {
  background-color: transparent;
}
/* line 80, ../sass/_navbar.scss */
.home .navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
/* line 86, ../sass/_navbar.scss */
.home .navbar .navbar-collapse {
  text-align: center;
}
/* line 90, ../sass/_navbar.scss */
.home .sidebar {
  overflow: hidden;
}
/* line 94, ../sass/_navbar.scss */
.home nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  margin: 0 -250px 0 0;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
/* line 106, ../sass/_navbar.scss */
.home nav ul {
  width: 250px;
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow: hidden;
}
/* line 114, ../sass/_navbar.scss */
.home nav li {
  margin: 0;
}
/* line 117, ../sass/_navbar.scss */
.home nav a {
  color: #fff;
  font-size: 1em;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  text-decoration: none;
  display: block;
  padding: 12px 15px;
  font-weight: 300;
  letter-spacing: 2px;
}
/* line 128, ../sass/_navbar.scss */
.home label {
  display: block;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
  font-weight: 700;
  background: transparent;
  width: 42px;
  height: 42px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  font-size: 2em;
  line-height: 1.1em;
  position: fixed;
  top: 10px;
  right: 10px;
  -moz-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  z-index: 500;
}
/* line 149, ../sass/_navbar.scss */
.home input[type="checkbox"] {
  display: none;
}
/* line 152, ../sass/_navbar.scss */
.home input[type="checkbox"]:checked ~ nav {
  margin: 0;
}
/* line 155, ../sass/_navbar.scss */
.home input[type="checkbox"]:checked ~ label {
  right: 260px;
}
/* line 158, ../sass/_navbar.scss */
.home input[type="checkbox"]:checked ~ section {
  -webkit-transform: translate3d(260px, 0, 0);
  -moz-transform: translate3d(260px, 0, 0);
  -o-transform: translate3d(260px, 0, 0);
  transform: translate3d(260px, 0, 0);
}

/* line 1, ../sass/_index.scss */
.home {
  background: url("../images/pattern.png"), url("../images/backg.jpg");
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  background-size: 10px 10px, cover;
  height: 100vh;
  min-height: 100%;
}
/* line 9, ../sass/_index.scss */
.home .menu_flo {
  padding: 40% 0 0 0;
  position: relative;
}
/* line 12, ../sass/_index.scss */
.home .menu_flo li {
  font-size: 30px;
}
/* line 14, ../sass/_index.scss */
.home .menu_flo li a {
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
  line-height: 2em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 34, ../sass/_index.scss */
.home .menu_flo li a:hover {
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
  padding-left: 10px;
}
/* line 40, ../sass/_index.scss */
.home .name h1 {
  margin-top: 0;
}
/* line 42, ../sass/_index.scss */
.home .name h1 a {
  text-align: left;
  font-size: 3vw;
  color: transparent;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
  line-height: 2em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/* line 60, ../sass/_index.scss */
.home .name:hover h1 a {
  text-shadow: 0px 0px 5px #424242;
}
/* line 64, ../sass/_index.scss */
.home .name h1 a:hover {
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
}

/* line 1, ../sass/_footer.scss */
.footer {
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: RGBA(255, 255, 255, 0.7);
}
/* line 6, ../sass/_footer.scss */
.footer a {
  color: #999CA4;
}
/* line 9, ../sass/_footer.scss */
.footer a:hover {
  color: #3C3F41;
}

/* line 14, ../sass/_footer.scss */
.navbar-bottom {
  background-color: transparent;
}

/* line 1, ../sass/_portfolio.scss */
.grid-item {
  float: left;
  width: 250px;
  height: auto;
  padding-right: 3px;
}

/* line 7, ../sass/_portfolio.scss */
.grid-item--width2 {
  width: 400px;
}

/* line 9, ../sass/_portfolio.scss */
.thumbnail_galerie {
  display: block;
  padding: 4px;
  margin-bottom: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border .2s ease-in-out;
  -o-transition: border .2s ease-in-out;
  transition: border .2s ease-in-out;
  max-width: 100%;
}

/* line 23, ../sass/_portfolio.scss */
.grid, .grid_cours {
  background: RGBA(250, 250, 250, 0.3);
  border-radius: 15px;
  padding: 3.5em 4em;
  min-height: 100%;
  margin-bottom: 3em;
}

/* line 31, ../sass/_portfolio.scss */
.ekko-lightbox .modal-footer {
  text-align: center;
}

/* line 1, ../sass/_cours.scss */
.button_galerie {
  border: 3px solid #FFF;
  border-radius: 5px;
  font-family: inherit;
  color: #FFF;
  background: none;
  cursor: pointer;
  padding: 5px 20px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  margin-right: 0.5em;
}

/* line 21, ../sass/_cours.scss */
.button_galerie:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 31, ../sass/_cours.scss */
.button_galerie:hover,
.button_galerie:active,
.button_galerie:focus {
  color: #ffffff;
  background: #3C3F41;
  border-color: #3C3F41;
}

/* line 39, ../sass/_cours.scss */
.button-group:after {
  content: '';
  display: block;
  clear: both;
}

/* line 45, ../sass/_cours.scss */
.button-group {
  border-radius: 0.5em;
  margin-bottom: 15px;
  border-color: transparent;
}

/* line 51, ../sass/_cours.scss */
.infos_cours {
  color: #5F5E5F;
  text-align: justify;
}

/* line 56, ../sass/_cours.scss */
.no-js #loader {
  display: none;
}

/* line 57, ../sass/_cours.scss */
.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

/* line 58, ../sass/_cours.scss */
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/preloader.gif") center no-repeat #FFF;
}

/* line 2, ../sass/_contact.scss */
.contactpage label {
  margin: 20px 0 0 0;
}
/* line 6, ../sass/_contact.scss */
.contactpage textarea {
  margin: 0 0 20px 0;
}
/* line 10, ../sass/_contact.scss */
.contactpage .well {
  background-color: RGBA(255, 255, 255, 0.5);
  border-radius: 0.5em;
}
/* line 15, ../sass/_contact.scss */
.contactpage .contactform {
  margin-top: 5em;
}

/* line 1, ../sass/_about.scss */
.timeline {
  padding: 15px;
  background: RGBA(250, 250, 250, 0.3);
  border-radius: 15px;
}

@font-face {
  font-family: 'ecoico';
  src: url("../fonts/timelineicons/ecoico.eot");
  src: url("../fonts/timelineicons/ecoico.eot?#iefix") format("embedded-opentype"), url("../fonts/timelineicons/ecoico.woff") format("woff"), url("../fonts/timelineicons/ecoico.ttf") format("truetype"), url("../fonts/timelineicons/ecoico.svg#ecoico") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 18, ../sass/_about.scss */
.cbp_tmtimeline {
  margin: 45px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* The line */
/* line 26, ../sass/_about.scss */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  background: #FFF;
  left: 16%;
}

/* The date/time */
/* line 37, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 8em;
  position: absolute;
}

/* line 44, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

/* line 49, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #FFF;
}

/* line 54, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 2.9em;
  color: #999999;
}

/* line 59, ../sass/_about.scss */
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #999999;
}

/* Right content */
/* line 64, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 5% 15px 20%;
  background: #ACABAD;
  color: #fff;
  padding: 1em 2em;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

/* line 76, ../sass/_about.scss */
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #999999;
}

/* line 80, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmlabel h2 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* The icons */
/* line 87, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 20px;
  height: 20px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #FFF;
  text-align: center;
  left: 17%;
  top: 0;
  margin: 0 0 0 -17px;
}

/* line 112, ../sass/_about.scss */
.cbp_tmicon-screen:before {
  content: "\e001";
}

/* line 116, ../sass/_about.scss */
.cbp_tmicon-mail:before {
  content: "\e002";
}

/* line 120, ../sass/_about.scss */
.cbp_tmicon-earth:before {
  content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  /* line 127, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 47.2em) {
  /* line 133, ../sass/_about.scss */
  .cbp_tmtimeline:before {
    display: none;
  }

  /* line 137, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  /* line 143, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: center;
  }

  /* line 147, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  /* line 154, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #3594cb;
    top: -20px;
  }

  /* line 162, ../sass/_about.scss */
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #6cbfee;
  }

  /* line 167, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmicon {
    display: none;
  }
}
/* General Blueprint Style */
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.eot");
  src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.svg#fontawesome") format("svg"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 186, ../sass/_about.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 187, ../sass/_about.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 190, ../sass/_about.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 191, ../sass/_about.scss */
.clearfix:after {
  clear: both;
}

/* line 193, ../sass/_about.scss */
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

/* line 197, ../sass/_about.scss */
a {
  color: #f0f0f0;
  text-decoration: none;
}

/* line 202, ../sass/_about.scss */
a:hover {
  color: #000;
}

/* line 206, ../sass/_about.scss */
.main {
  width: 95%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em 3.125em;
  margin-bottom: 35px;
  flex: 1 0 auto;
}

/* line 216, ../sass/_about.scss */
.icon-drop:before,
.icon-arrow-left:before {
  font-family: 'fontawesome';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px;
}

/* line 235, ../sass/_about.scss */
.icon-drop:before {
  content: "\e000";
}

/* line 239, ../sass/_about.scss */
.icon-arrow-left:before {
  content: "\f060";
}

/* ----------- iPhone 6 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 9, ../sass/_media.scss */
  body, html {
    height: initial;
    min-height: initial;
  }

  /* line 14, ../sass/_media.scss */
  .grid_actu .grid-item {
    width: 100% !important;
    padding-right: 0 !important;
  }

  /* line 19, ../sass/_media.scss */
  .grid_actu {
    margin-bottom: 3em;
  }

  /* line 23, ../sass/_media.scss */
  .grid-item {
    width: 100%;
  }

  /* line 27, ../sass/_media.scss */
  .grid_cours, .grid {
    width: 100%;
    padding: 0;
    background-color: transparent;
    margin-bottom: 3em;
  }

  /* line 34, ../sass/_media.scss */
  .container {
    min-height: 100vh;
  }

  /* line 38, ../sass/_media.scss */
  .home {
    height: 100vh;
  }
  /* line 40, ../sass/_media.scss */
  .home .footer {
    height: initial;
    font-size: 15px;
  }
  /* line 46, ../sass/_media.scss */
  .home .name h1 a {
    font-size: 5vw;
    margin-top: 80vh;
    text-shadow: initial;
    color: #B9B9B9;
  }
  /* line 54, ../sass/_media.scss */
  .home label {
    top: 0;
    right: 20px;
  }
  /* line 58, ../sass/_media.scss */
  .home .menu_flo {
    padding: 20% 0 0 0;
  }
  /* line 60, ../sass/_media.scss */
  .home .menu_flo li {
    font-size: 25px;
  }
  /* line 62, ../sass/_media.scss */
  .home .menu_flo li a {
    line-height: 1em;
    color: white;
  }

  /* line 70, ../sass/_media.scss */
  .navbar_flo {
    margin-bottom: 0;
  }

  /* line 74, ../sass/_media.scss */
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: white;
  }

  /* line 79, ../sass/_media.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

  /* line 83, ../sass/_media.scss */
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }

  /* line 87, ../sass/_media.scss */
  .button_galerie {
    font-size: 0.9em;
    padding: 5px;
  }

  /* line 93, ../sass/_media.scss */
  .contactpage .row {
    margin: 0;
  }
  /* line 96, ../sass/_media.scss */
  .contactpage .well {
    margin-bottom: 15%;
  }

  /* line 101, ../sass/_media.scss */
  .contactform {
    margin-top: 1em;
  }

  /* line 105, ../sass/_media.scss */
  .timeline {
    margin-bottom: 3em;
  }

  /* line 109, ../sass/_media.scss */
  .open {
    width: 20px;
    height: 20px;
  }
}
/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  /* line 122, ../sass/_media.scss */
  body, html {
    height: initial;
    min-height: initial;
  }

  /* line 127, ../sass/_media.scss */
  .grid_actu .grid-item {
    width: 100% !important;
    padding-right: 0 !important;
  }

  /* line 132, ../sass/_media.scss */
  .grid_actu {
    margin-bottom: 3em;
  }

  /* line 136, ../sass/_media.scss */
  .grid-item {
    width: 100%;
  }

  /* line 140, ../sass/_media.scss */
  .grid_cours, .grid {
    width: 100%;
    padding: 0;
    background-color: transparent;
    margin-bottom: 3em;
  }

  /* line 147, ../sass/_media.scss */
  .container {
    min-height: 100vh;
  }

  /* line 151, ../sass/_media.scss */
  .home {
    height: 100vh;
  }
  /* line 153, ../sass/_media.scss */
  .home .footer {
    height: initial;
    font-size: 15px;
  }

  /* line 159, ../sass/_media.scss */
  .navbar_flo {
    margin-bottom: 0;
  }

  /* line 163, ../sass/_media.scss */
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: white;
  }

  /* line 168, ../sass/_media.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

  /* line 172, ../sass/_media.scss */
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }

  /* line 176, ../sass/_media.scss */
  .bmenu {
    margin: 0 15px 20px 0;
  }
  /* line 178, ../sass/_media.scss */
  .bmenu li {
    font-size: 30px;
    float: right;
  }
  /* line 181, ../sass/_media.scss */
  .bmenu li a {
    color: #797979;
  }

  /* line 191, ../sass/_media.scss */
  .button_galerie {
    font-size: 0.9em;
    padding: 5px;
  }

  /* line 197, ../sass/_media.scss */
  .contactpage .row {
    margin: 0;
  }
  /* line 200, ../sass/_media.scss */
  .contactpage .well {
    margin-bottom: 15%;
  }

  /* line 205, ../sass/_media.scss */
  .contactform {
    margin-top: 1em;
  }

  /* line 209, ../sass/_media.scss */
  .timeline {
    margin-bottom: 3em;
  }
}
/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  /* line 221, ../sass/_media.scss */
  body, html {
    height: initial;
    min-height: initial;
  }

  /* line 226, ../sass/_media.scss */
  .grid_actu .grid-item {
    width: 100% !important;
    padding-right: 0 !important;
  }

  /* line 231, ../sass/_media.scss */
  .grid_actu {
    margin-bottom: 3em;
  }

  /* line 235, ../sass/_media.scss */
  .grid-item {
    width: 100%;
  }

  /* line 239, ../sass/_media.scss */
  .grid_cours, .grid {
    width: 100%;
    padding: 0;
    background-color: transparent;
    margin-bottom: 3em;
  }

  /* line 246, ../sass/_media.scss */
  .container {
    min-height: 100vh;
  }

  /* line 250, ../sass/_media.scss */
  .home {
    height: 100vh;
  }
  /* line 252, ../sass/_media.scss */
  .home .footer {
    height: initial;
    font-size: 15px;
  }

  /* line 258, ../sass/_media.scss */
  .navbar_flo {
    margin-bottom: 0;
  }

  /* line 262, ../sass/_media.scss */
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: white;
  }

  /* line 267, ../sass/_media.scss */
  .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
  }

  /* line 271, ../sass/_media.scss */
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
  }

  /* line 275, ../sass/_media.scss */
  .bmenu {
    margin: 30% 15px 20px 0;
  }
  /* line 277, ../sass/_media.scss */
  .bmenu li {
    font-size: 30px;
    float: right;
  }
  /* line 280, ../sass/_media.scss */
  .bmenu li a {
    color: #797979;
  }

  /* line 286, ../sass/_media.scss */
  .button_galerie {
    font-size: 0.9em;
    padding: 5px;
  }

  /* line 292, ../sass/_media.scss */
  .contactpage .row {
    margin: 0;
  }
  /* line 295, ../sass/_media.scss */
  .contactpage .well {
    margin-bottom: 15%;
  }

  /* line 300, ../sass/_media.scss */
  .contactform {
    margin-top: 1em;
  }

  /* line 304, ../sass/_media.scss */
  .timeline {
    margin-bottom: 3em;
  }
}
/* line 1, ../sass/_admin.scss */
#admin {
  padding: 10px;
  background: url("../images/pattern.png") #BEBAB9;
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  background-size: 10px 10px, cover;
  min-height: calc(100vh - 90px);
}
/* line 9, ../sass/_admin.scss */
#admin .admin_index {
  padding-top: 20%;
}
/* line 13, ../sass/_admin.scss */
#admin h1 {
  font-size: 3vw;
}
/* line 17, ../sass/_admin.scss */
#admin .thumbnail {
  height: 150px;
}
/* line 21, ../sass/_admin.scss */
#admin .boutons {
  margin-top: 5px;
}
/* line 25, ../sass/_admin.scss */
#admin .modeles_wrapper {
  height: 100vh;
}
/* line 29, ../sass/_admin.scss */
#admin .view {
  height: 100%;
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  float: left;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: default;
  background: #fff;
}
/* line 44, ../sass/_admin.scss */
#admin .view .mask, #admin .view .content {
  width: 200px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* line 52, ../sass/_admin.scss */
#admin .view img {
  display: block;
  position: relative;
}
/* line 56, ../sass/_admin.scss */
#admin .view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  margin: 20px 0 0 0;
}
/* line 65, ../sass/_admin.scss */
#admin .view p {
  font-family: Georgia, serif;
  font-style: italic;
  font-size: 12px;
  position: relative;
  color: #fff;
  padding: 10px 20px 20px;
  text-align: center;
}
/* line 74, ../sass/_admin.scss */
#admin .view a.info {
  margin-top: 40%;
}
/* line 87, ../sass/_admin.scss */
#admin .view-first img {
  transition: all 0.2s linear;
}
/* line 90, ../sass/_admin.scss */
#admin .view-first .mask {
  opacity: 0;
  background-color: RGBA(152, 152, 152, 0.7);
  transition: all 0.4s ease-in-out;
}
/* line 95, ../sass/_admin.scss */
#admin .view-first h2 {
  transform: translateY(-100px);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* line 100, ../sass/_admin.scss */
#admin .view-first p {
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.2s linear;
}
/* line 105, ../sass/_admin.scss */
#admin .view-first a.info {
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
/* line 110, ../sass/_admin.scss */
#admin .view-first:hover img {
  transform: scale(1.1);
}
/* line 113, ../sass/_admin.scss */
#admin .view-first:hover .mask {
  opacity: 1;
}
/* line 116, ../sass/_admin.scss */
#admin .view-first:hover h2,
#admin .view-first:hover p,
#admin .view-first:hover a.info {
  opacity: 1;
  transform: translateY(0px);
}
/* line 122, ../sass/_admin.scss */
#admin .view-first:hover p {
  transition-delay: 0.1s;
}
/* line 125, ../sass/_admin.scss */
#admin .view-first:hover a.info {
  transition-delay: 0.2s;
}

/* line 131, ../sass/_admin.scss */
.navbar_admin {
  margin-bottom: 0;
}
/* line 136, ../sass/_admin.scss */
.navbar_admin li a {
  color: #3C3F41 !important;
}
/* line 142, ../sass/_admin.scss */
.navbar_admin .navbar-nav {
  width: auto;
}

/* line 147, ../sass/_admin.scss */
.panel-admin {
  width: 19%;
  display: inline-block;
  text-align: center;
}
/* line 152, ../sass/_admin.scss */
.panel-admin .thumbnail_admin {
  width: 100%;
}
/* line 156, ../sass/_admin.scss */
.panel-admin .panel-body {
  height: 250px;
  overflow: scroll;
  border: 10px solid #fff;
  padding: 0;
}

/* line 164, ../sass/_admin.scss */
.thumbnail_admin {
  width: 100px;
}

/* line 1, ../sass/_datatables.scss */
table.dataTable thead th {
  position: relative;
  background-image: none !important;
}

/* line 6, ../sass/_datatables.scss */
table.dataTable thead th.sorting:after,
table.dataTable thead th.sorting_asc:after,
table.dataTable thead th.sorting_desc:after {
  position: absolute;
  right: 8px;
  display: block;
  font-family: FontAwesome;
}

/* line 15, ../sass/_datatables.scss */
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  content: "";
}

/* line 19, ../sass/_datatables.scss */
table.dataTable thead th.sorting:after {
  content: "\f0dc";
  color: #FFF;
}

/* line 23, ../sass/_datatables.scss */
table.dataTable thead th.sorting_asc:after {
  content: "\f0de";
  color: #FFF;
}

/* line 27, ../sass/_datatables.scss */
table.dataTable thead th.sorting_desc:after {
  content: "\f0dd";
  color: #FFF;
}

/* line 2, ../sass/_actu.scss */
.grid_actu .grid-item {
  float: left;
  width: 275px;
  height: auto;
  padding-right: 1em;
}
/* line 9, ../sass/_actu.scss */
.grid_actu .grid-item {
  float: left;
}
/* line 13, ../sass/_actu.scss */
.grid_actu .thumbnail_actu {
  width: 100%;
  height: 100%;
}
/* line 18, ../sass/_actu.scss */
.grid_actu .modal-body, .grid_actu .panel-body {
  text-align: justify;
}
/* line 22, ../sass/_actu.scss */
.grid_actu .actu_contenu {
  margin-top: 15px;
}
