@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* line 1, ../sass/_general.scss */
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* line 8, ../sass/_general.scss */
.container, .row {
  flex: 1 0 auto;
}

/* line 12, ../sass/_general.scss */
.row {
  width: 100%;
  height: 100%;
  margin-bottom: 0;
}

/* line 18, ../sass/_general.scss */
.container {
  width: 70%;
}

/* line 22, ../sass/_general.scss */
.home {
  background: url("../images/pattern.png"), url("../images/photo.jpg");
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  background-size: 10px 10px, cover;
}

/* line 29, ../sass/_general.scss */
.page {
  background: url("../images/pattern.png") #BEBAB9;
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  background-size: 10px 10px, cover;
}

/* line 36, ../sass/_general.scss */
.about {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #47a3da;
}

/* line 41, ../sass/_general.scss */
footer {
  background: RGBA(238, 238, 239, 0.1);
  text-align: right;
  color: dimgrey;
  padding-right: 15px;
}

/* line 48, ../sass/_general.scss */
h1, h2 {
  font-size: 50px;
  padding-left: 15px;
  color: transparent;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 63, ../sass/_general.scss */
h1 {
  text-align: center;
}

/* line 67, ../sass/_general.scss */
h1:hover, h2:hover {
  text-shadow: 0px 0px 1px #424242;
}

/* line 71, ../sass/_general.scss */
h2 {
  margin-top: 50px;
  text-align: center;
}

/* line 78, ../sass/_general.scss */
.error {
  margin-top: 20%;
  padding-left: 15px;
  color: transparent;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 93, ../sass/_general.scss */
.errorfont {
  margin-top: 10px;
  font-size: 100px;
}

/* line 1, ../sass/_navbar.scss */
nav {
  background-color: transparent;
  text-align: center;
  box-shadow: none;
}

/* line 7, ../sass/_navbar.scss */
nav .button-collapse {
  float: right;
}

/* line 11, ../sass/_navbar.scss */
nav ul li {
  float: none;
}

/* line 15, ../sass/_navbar.scss */
.centermenu {
  display: inline-flex;
}

/* line 19, ../sass/_navbar.scss */
nav ul a {
  padding-left: 15px;
  color: transparent;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 2px #fff;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 33, ../sass/_navbar.scss */
.item:hover {
  text-shadow: 0px 0px 1px #424242;
  background-color: transparent;
}

/* line 1, ../sass/_index.scss */
.bmenu {
  padding: 0px;
  margin: 200px 0 10px 0;
  position: relative;
}

/* line 6, ../sass/_index.scss */
.bmenu li {
  font-size: 50px;
  display: block;
}

/* line 10, ../sass/_index.scss */
.bmenu li a {
  color: transparent;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
  line-height: 2em;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/* line 23, ../sass/_index.scss */
.bmenu:hover li a {
  text-shadow: 0px 0px 5px #424242;
}

/* line 26, ../sass/_index.scss */
.bmenu li a:hover {
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
  padding-left: 10px;
}

/* line 32, ../sass/_index.scss */
.name {
  text-align: left;
}

/* line 1, ../sass/_footer.scss */
footer.page-footer {
  background-color: #737270;
}

/* line 1, ../sass/_portfolio.scss */
.oeuvres {
  padding: 15px;
  background: RGBA(250, 250, 250, 0.3);
  padding-top: 45px;
  border-radius: 15px;
}

/* line 8, ../sass/_portfolio.scss */
.grid {
  position: relative;
  margin: 0 auto;
  left: 25px;
}

/* line 14, ../sass/_portfolio.scss */
.js .grid::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: transparent url(../images/loading.svg) no-repeat 50% 75px;
  background-size: 60px auto;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

/* line 28, ../sass/_portfolio.scss */
.js .grid--loaded::after {
  opacity: 0;
}

/* line 32, ../sass/_portfolio.scss */
.grid__item {
  width: 270px;
  padding: 10px;
}

/* line 37, ../sass/_portfolio.scss */
.grid__item--current {
  opacity: 0 !important;
}

/* line 41, ../sass/_portfolio.scss */
.img-wrap {
  display: block;
}

/* line 45, ../sass/_portfolio.scss */
.img-wrap:focus,
.img-wrap:hover {
  outline: none;
}

/* line 50, ../sass/_portfolio.scss */
.img-wrap img {
  display: block;
  max-width: 100%;
}

/* line 55, ../sass/_portfolio.scss */
.preview {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  -webkit-align-content: center;
  align-content: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 50%;
  height: 100%;
  pointer-events: none;
}

/* line 77, ../sass/_portfolio.scss */
.preview::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #1f1d1d;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 90, ../sass/_portfolio.scss */
.preview--open {
  pointer-events: auto;
}

/* line 94, ../sass/_portfolio.scss */
.preview--open::before {
  opacity: 1;
}

/* line 98, ../sass/_portfolio.scss */
.clone {
  position: fixed;
  z-index: 110;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
}

/* line 106, ../sass/_portfolio.scss */
.original {
  position: relative;
  z-index: 120;
  display: block;
  object-fit: contain;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
  -webkit-backface-visibility: hidden;
}

/* line 116, ../sass/_portfolio.scss */
.preview--open .animate {
  /* open */
  -webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
  transition: transform 0.6s, opacity 0.2s;
}

/* line 122, ../sass/_portfolio.scss */
.animate {
  /* close */
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

/* line 128, ../sass/_portfolio.scss */
.description {
  color: #fff;
}

/* line 132, ../sass/_portfolio.scss */
.js .description--grid {
  display: none;
}

/* line 136, ../sass/_portfolio.scss */
.description--preview {
  font-size: 2em;
  position: absolute;
  z-index: 140;
  width: 100%;
  left: 100%;
  top: 0;
  height: 100%;
  padding: 0 1em;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}

/* line 166, ../sass/_portfolio.scss */
.preview--open .description--preview {
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 174, ../sass/_portfolio.scss */
.description--preview h3 {
  font-weight: normal;
  margin: 0;
}

/* line 179, ../sass/_portfolio.scss */
.description--preview p {
  font-size: 0.65em;
  max-width: 80%;
  overflow: scroll;
  max-height: 50%;
  text-align: justify;
}

/* line 187, ../sass/_portfolio.scss */
.description--preview p em {
  color: #b6b6b6;
  padding: 0.4em 0 0 0;
}

/* Details */
/* line 195, ../sass/_portfolio.scss */
.details {
  max-width: 100%;
  /* IE 10-11 bug flexbox */
}

/* line 200, ../sass/_portfolio.scss */
.details ul {
  line-height: 1;
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 208, ../sass/_portfolio.scss */
.details ul li {
  font-size: 0.5em;
  position: relative;
  display: inline-block;
  margin: 0 1em 0 0;
  padding: 0.15em 0;
  white-space: nowrap;
  opacity: 0;
  color: #9d9d9d;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

/* line 225, ../sass/_portfolio.scss */
.preview--open .details ul li {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 231, ../sass/_portfolio.scss */
.preview--open .details ul li:nth-child(1) {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

/* line 236, ../sass/_portfolio.scss */
.preview--open .details ul li:nth-child(2) {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

/* line 241, ../sass/_portfolio.scss */
.preview--open .details ul li:nth-child(3) {
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

/* line 246, ../sass/_portfolio.scss */
.preview--open .details ul li:nth-child(4) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

/* line 251, ../sass/_portfolio.scss */
.preview--open .details ul li:nth-child(5) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

/* line 256, ../sass/_portfolio.scss */
.details ul li:first-child {
  font-weight: bold;
  color: #909090;
}

/* line 261, ../sass/_portfolio.scss */
.icon {
  font-family: 'camera-icons';
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  text-transform: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}

/* line 276, ../sass/_portfolio.scss */
.icon + span {
  margin-left: 5px;
  vertical-align: middle;
}

/* line 281, ../sass/_portfolio.scss */
.icon-focal_length:before {
  content: '\e600';
}

/* line 285, ../sass/_portfolio.scss */
.icon-exposure_time:before {
  content: '\e601';
}

/* line 289, ../sass/_portfolio.scss */
.icon-iso:before {
  content: '\e602';
}

/* line 293, ../sass/_portfolio.scss */
.icon-camera:before {
  content: '\e603';
}

/* line 297, ../sass/_portfolio.scss */
.icon-aperture:before {
  content: '\e604';
}

/* line 301, ../sass/_portfolio.scss */
.details .icon {
  margin-right: 5px;
  color: #77d45b;
}

/* Close button */
/* line 309, ../sass/_portfolio.scss */
.action {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
  cursor: pointer;
  vertical-align: top;
  color: #FFF;
  border: none;
  background: none;
}

/* line 320, ../sass/_portfolio.scss */
.action:hover,
.action:focus {
  color: #FFF;
  outline: none;
}

/* line 326, ../sass/_portfolio.scss */
.action--close {
  position: fixed;
  z-index: 150;
  top: 0;
  right: 0;
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: scale3d(0.6, 0.6, 1);
  transform: scale3d(0.6, 0.6, 1);
}

/* line 339, ../sass/_portfolio.scss */
.preview--image-loaded .action--close {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 345, ../sass/_portfolio.scss */
.text-hidden {
  position: absolute;
  display: block;
  overflow: hidden;
  width: 0;
  height: 0;
  color: transparent;
}

@media screen and (max-width: 40em) {
  /* line 355, ../sass/_portfolio.scss */
  .description--preview h3 {
    font-size: 0.5em;
  }

  /* line 358, ../sass/_portfolio.scss */
  .description--preview p,
  .details {
    display: none;
  }

  /* line 363, ../sass/_portfolio.scss */
  .img-wrap img {
    display: block;
    max-width: 70%;
  }
}
/* line 1, ../sass/_fictions.scss */
.fictions {
  width: 95%;
}

/* line 5, ../sass/_fictions.scss */
.fictionspreview p {
  padding-right: 15px;
  max-width: 85%;
}

/* line 3, ../sass/_cours.scss */
.cours {
  margin-bottom: 50px;
  margin-top: 50px;
}

/* line 8, ../sass/_cours.scss */
.white {
  padding: 15px;
  background: RGBA(250, 250, 250, 0.3) !important;
  border-radius: 15px;
}

/* line 14, ../sass/_cours.scss */
.parallax img {
  display: block;
}

/* line 18, ../sass/_cours.scss */
.parallax-container {
  height: 300px;
}

/* line 22, ../sass/_cours.scss */
.imgcours {
  width: 100%;
  max-width: 450px;
  border-radius: 15px;
}

/* line 28, ../sass/_cours.scss */
.horaires {
  color: grey;
  font-size: 20px;
}

/* line 33, ../sass/_cours.scss */
.hbold {
  font-weight: bold;
}

/* line 37, ../sass/_cours.scss */
ul.listecours {
  padding-left: 50px !important;
}

/* line 41, ../sass/_cours.scss */
ul li.listecours {
  list-style: circle !important;
  list-style-position: outside;
}

/* line 1, ../sass/_contact.scss */
.contact {
  margin-top: 50px;
  padding: 15px;
  background: RGBA(250, 250, 250, 0.3);
  border-radius: 15px;
}

/* line 8, ../sass/_contact.scss */
.btn {
  background-color: #424242;
  margin-bottom: 15px;
}

/* line 13, ../sass/_contact.scss */
.btn:hover {
  background-color: #737270;
}

/* line 17, ../sass/_contact.scss */
.iconame {
  display: none;
}

/* line 21, ../sass/_contact.scss */
input[type=text]:focus {
  color: #FFF;
}

/* line 25, ../sass/_contact.scss */
.input-field .prefix {
  color: white;
  margin-top: 10px;
}

/* label color */
/* line 31, ../sass/_contact.scss */
.input-field label, label, input[type=text], input[type=email], textarea {
  color: #FFF;
  font-size: 20px;
}

/* label focus color */
/* line 36, ../sass/_contact.scss */
.input-field input[type=text]:focus + label {
  color: #737270;
}

/* label underline focus color */
/* line 40, ../sass/_contact.scss */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #737270;
  box-shadow: 0 1px 0 0 #737270;
}

/* valid color */
/* line 45, ../sass/_contact.scss */
.input-field input[type=text].valid {
  color: #737270;
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}

/* invalid color */
/* line 51, ../sass/_contact.scss */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
/* line 56, ../sass/_contact.scss */
.input-field .prefix.active {
  color: #737270;
}

/* label focus color */
/* line 61, ../sass/_contact.scss */
.input-field input[type=email]:focus + label {
  color: #737270;
}

/* label underline focus color */
/* line 67, ../sass/_contact.scss */
.input-field input[type=email]:focus {
  border-bottom: 1px solid #737270;
  box-shadow: 0 1px 0 0 #737270;
}

/* valid color */
/* line 72, ../sass/_contact.scss */
.input-field input[type=email].valid {
  color: #737270;
  border-bottom: 1px solid #FFF;
  box-shadow: 0 1px 0 0 #FFF;
}

/* line 78, ../sass/_contact.scss */
.input-field textarea[class=materialize-textarea] + label {
  color: #FFF;
}

/* line 82, ../sass/_contact.scss */
.input-field textarea[class=materialize-textarea]:focus + label {
  color: #737270;
}

/* line 86, ../sass/_contact.scss */
.input-field textarea[class=materialize-textarea]:focus {
  border-bottom: 1px solid #737270;
  box-shadow: 0 1px 0 0 #737270;
}

/* line 91, ../sass/_contact.scss */
.confirm {
  margin-top: 15%;
  background: RGBA(238, 238, 239, 0.3);
  border-radius: 15px;
  padding-bottom: 30px !important;
}

/* line 98, ../sass/_contact.scss */
.btnconfirm {
  margin-top: 5%;
}

/* line 102, ../sass/_contact.scss */
.btn-large {
  border-radius: 15px;
}

/* line 1, ../sass/_about.scss */
.timeline {
  padding: 15px;
  background: RGBA(250, 250, 250, 0.3);
  border-radius: 15px;
}

@font-face {
  font-family: 'ecoico';
  src: url("../fonts/timelineicons/ecoico.eot");
  src: url("../fonts/timelineicons/ecoico.eot?#iefix") format("embedded-opentype"), url("../fonts/timelineicons/ecoico.woff") format("woff"), url("../fonts/timelineicons/ecoico.ttf") format("truetype"), url("../fonts/timelineicons/ecoico.svg#ecoico") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Made with http://icomoon.io/ */
/* line 18, ../sass/_about.scss */
.cbp_tmtimeline {
  margin: 45px 0 0 0;
  padding: 0;
  list-style: none;
  position: relative;
}

/* The line */
/* line 26, ../sass/_about.scss */
.cbp_tmtimeline:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8px;
  background: #FFF;
  left: 20%;
  margin-left: -9px;
}

/* The date/time */
/* line 38, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime {
  display: block;
  width: 25%;
  padding-right: 100px;
  position: absolute;
}

/* line 45, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime span {
  display: block;
  text-align: right;
}

/* line 50, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime span:first-child {
  font-size: 0.9em;
  color: #FFF;
}

/* line 55, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmtime span:last-child {
  font-size: 2.9em;
  color: #999999;
}

/* line 60, ../sass/_about.scss */
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
  color: #999999;
}

/* Right content */
/* line 65, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmlabel {
  margin: 0 0 15px 25%;
  background: #ACABAD;
  color: #fff;
  padding: 1em 2em;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.4;
  position: relative;
  border-radius: 5px;
}

/* line 77, ../sass/_about.scss */
.cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
  background: #999999;
}

/* line 81, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmlabel h2 {
  margin-top: 0px;
  padding: 0 0 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

/* The icons */
/* line 88, ../sass/_about.scss */
.cbp_tmtimeline > li .cbp_tmicon {
  width: 20px;
  height: 20px;
  font-family: 'ecoico';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 1.4em;
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  color: #fff;
  background: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 0 8px #FFF;
  text-align: center;
  left: 20%;
  top: 0;
  margin: 0 0 0 -15px;
}

/* line 113, ../sass/_about.scss */
.cbp_tmicon-screen:before {
  content: "\e001";
}

/* line 117, ../sass/_about.scss */
.cbp_tmicon-mail:before {
  content: "\e002";
}

/* line 121, ../sass/_about.scss */
.cbp_tmicon-earth:before {
  content: "\e003";
}

/* Example Media Queries */
@media screen and (max-width: 65.375em) {
  /* line 128, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmtime span:last-child {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 47.2em) {
  /* line 134, ../sass/_about.scss */
  .cbp_tmtimeline:before {
    display: none;
  }

  /* line 138, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmtime {
    width: 100%;
    position: relative;
    padding: 0 0 20px 0;
  }

  /* line 144, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmtime span {
    text-align: center;
  }

  /* line 148, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmlabel {
    margin: 0 0 30px 0;
    padding: 1em;
    font-weight: 400;
    font-size: 95%;
  }

  /* line 155, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmlabel:after {
    right: auto;
    left: 20px;
    border-right-color: transparent;
    border-bottom-color: #3594cb;
    top: -20px;
  }

  /* line 163, ../sass/_about.scss */
  .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
    border-right-color: transparent;
    border-bottom-color: #6cbfee;
  }

  /* line 168, ../sass/_about.scss */
  .cbp_tmtimeline > li .cbp_tmicon {
    display: none;
  }
}
/* General Blueprint Style */
@font-face {
  font-family: 'fontawesome';
  src: url("../fonts/fontawesome.eot");
  src: url("../fonts/fontawesome.eot?#iefix") format("embedded-opentype"), url("../fonts/fontawesome.svg#fontawesome") format("svg"), url("../fonts/fontawesome.woff") format("woff"), url("../fonts/fontawesome.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* line 187, ../sass/_about.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 188, ../sass/_about.scss */
body, html {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
/* line 191, ../sass/_about.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

/* line 192, ../sass/_about.scss */
.clearfix:after {
  clear: both;
}

/* line 194, ../sass/_about.scss */
body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

/* line 198, ../sass/_about.scss */
a {
  color: #f0f0f0;
  text-decoration: none;
}

/* line 203, ../sass/_about.scss */
a:hover {
  color: #000;
}

/* line 207, ../sass/_about.scss */
.main {
  width: 95%;
  max-width: 69em;
  margin: 0 auto;
  padding: 0 1.875em 3.125em;
  margin-bottom: 35px;
  flex: 1 0 auto;
}

/* line 217, ../sass/_about.scss */
.icon-drop:before,
.icon-arrow-left:before {
  font-family: 'fontawesome';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 2;
  text-align: center;
  color: #47a3da;
  -webkit-font-smoothing: antialiased;
  text-indent: 8000px;
  padding-left: 8px;
}

/* line 236, ../sass/_about.scss */
.icon-drop:before {
  content: "\e000";
}

/* line 240, ../sass/_about.scss */
.icon-arrow-left:before {
  content: "\f060";
}

@media screen and (max-width: 640px) {
  /* line 2, ../sass/_media.scss */
  .detailscours {
    margin-bottom: 25px;
  }

  /* line 5, ../sass/_media.scss */
  .iconame {
    display: initial;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 14, ../sass/_media.scss */
  .detailscours {
    margin-bottom: 25px;
  }

  /* line 17, ../sass/_media.scss */
  .bmenu {
    float: right;
  }

  /* line 20, ../sass/_media.scss */
  .iconame {
    display: initial;
  }
}
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 29, ../sass/_media.scss */
  .detailscours {
    margin-bottom: 25px;
  }

  /* line 32, ../sass/_media.scss */
  .bmenu li a {
    line-height: 2em;
  }
}
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  /* line 41, ../sass/_media.scss */
  .detailscours {
    margin-bottom: 25px;
  }

  /* line 44, ../sass/_media.scss */
  .bmenu li a {
    line-height: 2em;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 53, ../sass/_media.scss */
  .detailscours {
    margin-bottom: 25px;
  }

  /* line 56, ../sass/_media.scss */
  .bmenu li a {
    line-height: 2em;
  }
}
/* line 1, ../sass/_admin.scss */
.admin {
  padding: 10px;
  background: url("../images/pattern.png") #BEBAB9;
  background-repeat: repeat, no-repeat;
  background-position: 0 0;
  background-size: 10px 10px, cover;
}

/* line 9, ../sass/_admin.scss */
.row .adm {
  width: 100%;
}

/* line 13, ../sass/_admin.scss */
.container .row {
  padding: 15px;
}

/* line 17, ../sass/_admin.scss */
.imageupload {
  max-width: 100%;
}

/* line 21, ../sass/_admin.scss */
.admincontenu, .modeleadmin, .aboutadmin {
  padding: 15px;
  background: RGBA(250, 250, 250, 0.3);
  border-radius: 15px;
  font-size: 20px;
  min-height: 100vh;
}

/* line 29, ../sass/_admin.scss */
.modeleadmin, .aboutadmin {
  height: 300px;
  padding-top: 10% !important;
}

/* line 33, ../sass/_admin.scss */
.adminhome {
  margin-top: 7%;
  padding-top: 45px;
}

/* line 38, ../sass/_admin.scss */
.adminmenu {
  margin-top: 50px;
  padding-top: 50px;
}

/* line 43, ../sass/_admin.scss */
.adminmenu a {
  color: transparent;
  display: block;
  text-transform: uppercase;
  text-shadow: 0px 0px 5px #fff;
  letter-spacing: 1px;
  font-size: 25px;
  text-align: center;
}

/* line 53, ../sass/_admin.scss */
.adminmenu:hover a {
  text-shadow: 0px 0px 5px #424242;
}

/* line 57, ../sass/_admin.scss */
.adminmenu a:hover {
  color: #fff;
  text-shadow: 0px 0px 1px #fff;
}

/* line 62, ../sass/_admin.scss */
.admin select {
  display: block;
}

/* line 66, ../sass/_admin.scss */
.materialboxed {
  height: 100px;
  display: initial;
}

/* line 76, ../sass/_admin.scss */
td, th {
  text-align: center;
  border: 1px solid dimgrey;
  color: dimgrey;
  max-height: 150px;
  overflow: hidden;
}

/* line 84, ../sass/_admin.scss */
.contentmodele {
  max-height: 150px;
  overflow: scroll;
}

/* line 89, ../sass/_admin.scss */
.adminbtn {
  background: none;
  border: none;
}

/* line 94, ../sass/_admin.scss */
.adminbtn:focus {
  background: none;
  border: none;
}

/* line 99, ../sass/_admin.scss */
i.medium {
  font-size: 3rem;
}

/* line 103, ../sass/_admin.scss */
.admin .material-icons {
  color: dimgrey;
  background: none;
  line-height: 2;
}

/* line 109, ../sass/_admin.scss */
.admin .material-icons:hover {
  color: white;
}

/* line 115, ../sass/_admin.scss */
.navadm {
  padding: 10px !important;
}

/* line 119, ../sass/_admin.scss */
.navadm a {
  color: white;
  text-align: left;
}

/* line 124, ../sass/_admin.scss */
.navadm a:hover {
  border-radius: 15px;
}

/* line 128, ../sass/_admin.scss */
.navadm nav ul {
  width: 100%;
}

/* line 132, ../sass/_admin.scss */
.navadm .dropdown-content {
  border-radius: 15px;
}

/* line 139, ../sass/_admin.scss */
.adminlog {
  padding: 15px;
  background: RGBA(250, 250, 250, 0.3);
  border-radius: 15px;
}

/*
 * Table styles
 */
/* line 4, ../sass/_datatables.scss */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}

/* line 16, ../sass/_datatables.scss */
table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}

/* line 20, ../sass/_datatables.scss */
table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
}

/* line 25, ../sass/_datatables.scss */
table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}

/* line 29, ../sass/_datatables.scss */
table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
}

/* line 34, ../sass/_datatables.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  cursor: pointer;
  *cursor: hand;
}

/* line 40, ../sass/_datatables.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}

/* line 63, ../sass/_datatables.scss */
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc_disabled:before {
  right: 1em;
  content: "";
}

/* line 68, ../sass/_datatables.scss */
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  right: 0.5em;
  content: "";
}

/* line 72, ../sass/_datatables.scss */
table.dataTable tbody tr.selected {
  background-color: #B0BED9;
}

/* line 75, ../sass/_datatables.scss */
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
}

/* line 79, ../sass/_datatables.scss */
table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}

/* line 84, ../sass/_datatables.scss */
table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}

/* line 88, ../sass/_datatables.scss */
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}

/* line 91, ../sass/_datatables.scss */
table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4;
}

/* line 94, ../sass/_datatables.scss */
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6;
}

/* line 97, ../sass/_datatables.scss */
table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1;
}

/* line 100, ../sass/_datatables.scss */
table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #fafafa;
}

/* line 107, ../sass/_datatables.scss */
table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5;
}

/* line 114, ../sass/_datatables.scss */
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}

/* line 117, ../sass/_datatables.scss */
table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}

/* line 120, ../sass/_datatables.scss */
table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}

/* line 123, ../sass/_datatables.scss */
table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}

/* line 126, ../sass/_datatables.scss */
table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}

/* line 129, ../sass/_datatables.scss */
table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}

/* line 132, ../sass/_datatables.scss */
table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fafafa;
}

/* line 135, ../sass/_datatables.scss */
table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fcfcfc;
}

/* line 138, ../sass/_datatables.scss */
table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fefefe;
}

/* line 141, ../sass/_datatables.scss */
table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}

/* line 144, ../sass/_datatables.scss */
table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}

/* line 147, ../sass/_datatables.scss */
table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}

/* line 150, ../sass/_datatables.scss */
table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea;
}

/* line 153, ../sass/_datatables.scss */
table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ececec;
}

/* line 156, ../sass/_datatables.scss */
table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #efefef;
}

/* line 159, ../sass/_datatables.scss */
table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7;
}

/* line 162, ../sass/_datatables.scss */
table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9;
}

/* line 165, ../sass/_datatables.scss */
table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb;
}

/* line 171, ../sass/_datatables.scss */
table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}

/* line 174, ../sass/_datatables.scss */
table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px;
}

/* line 178, ../sass/_datatables.scss */
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}

/* line 182, ../sass/_datatables.scss */
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}

/* line 186, ../sass/_datatables.scss */
table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}

/* line 190, ../sass/_datatables.scss */
table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}

/* line 195, ../sass/_datatables.scss */
table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}

/* line 199, ../sass/_datatables.scss */
table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}

/* line 203, ../sass/_datatables.scss */
table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}

/* line 207, ../sass/_datatables.scss */
table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}

/* line 213, ../sass/_datatables.scss */
table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}

/* line 219, ../sass/_datatables.scss */
table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}

/* line 225, ../sass/_datatables.scss */
table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}

/* line 231, ../sass/_datatables.scss */
table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}

/* line 237, ../sass/_datatables.scss */
table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}

/* line 241, ../sass/_datatables.scss */
table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}

/* line 245, ../sass/_datatables.scss */
table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}

/* line 249, ../sass/_datatables.scss */
table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}

/* line 253, ../sass/_datatables.scss */
table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

/* line 258, ../sass/_datatables.scss */
table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/*
 * Control feature layout
 */
/* line 268, ../sass/_datatables.scss */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}

/* line 274, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_length {
  float: left;
}

/* line 277, ../sass/_datatables.scss */
.dataTables_length {
  width: 30%;
}

/* line 280, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}

/* line 284, ../sass/_datatables.scss */
.dataTables_filter {
  width: 50%;
}

/* line 287, ../sass/_datatables.scss */
.selecttables {
  background: transparent;
  margin-top: 35px;
}

/* line 292, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

/* line 295, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_info {
  clear: both;
  padding-top: 0.755em;
}

/* line 299, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_paginate {
  text-align: center !important;
  padding-top: 0.25em;
}

/* line 303, ../sass/_datatables.scss */
div.dataTables_wrapper div.dataTables_paginate {
  text-align: center;
}

/* line 306, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
  font-size: 15px;
}

/* line 321, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #FFF !important;
  background-color: #585858;
  border-radius: 50px;
  font-size: 15px;
}

/* line 327, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

/* line 334, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  background-color: #585858;
  border-radius: 50px;
}

/* line 339, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  box-shadow: inset 0 0 3px #111;
}

/* line 344, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

/* line 347, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}

/* line 366, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #696969;
  font-size: 15px;
}

/* line 374, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_scroll {
  clear: both;
}

/* line 377, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

/* line 381, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td {
  vertical-align: middle;
}

/* line 384, ../sass/_datatables.scss */
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 391, ../sass/_datatables.scss */
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111;
}

/* line 394, ../sass/_datatables.scss */
.dataTables_wrapper.no-footer div.dataTables_scrollHead table,
.dataTables_wrapper.no-footer div.dataTables_scrollBody table {
  border-bottom: none;
}

/* line 398, ../sass/_datatables.scss */
.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  /* line 407, ../sass/_datatables.scss */
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }

  /* line 412, ../sass/_datatables.scss */
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  /* line 417, ../sass/_datatables.scss */
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }

  /* line 422, ../sass/_datatables.scss */
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}
