{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Flo/Default/navadmin.html.twig' %}

    <div id="admin">
        <div class="container">

            <h1>Categories - Accueil</h1>

            <div class="text-center">
                <a class="btn btn-default" href="{{ path('categorie_new') }}">Nouveau</a>
            </div>

            <hr>

            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.nom }}</td>
                        <td>

                            <a class="btn btn-default" href="{{ path('categorie_edit', { 'id': categorie.id }) }}">Editer</a>
                            <a class="btn btn-default" href="{{ path('categorie_delete', {'id': categorie.id}) }}">Supprimer</a>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>




        </div>

    </div>

    </body>

{% endblock %}
